<!-- details da tab1 -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-info">
    <h4 class="ion-padding-start">{{culturalquinta.title}}</h4>

    <ion-list lines="none">
      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label position="stacked" color="primary">Data e Duração</ion-label>
        <h6>{{  culturalquinta.date  }}</h6>
        <h6>{{ culturalquinta.time }}</h6>
      </ion-item>

      <ion-item>
        <ion-icon name="contacts" slot="start"></ion-icon>
        <ion-label position="stacked" color="primary">Autores</ion-label>
        <h6>{{culturalquinta.authors}}</h6>
      </ion-item>

      <ion-item>
        <ion-icon name="microphone" slot="start"></ion-icon>
        <ion-label position="stacked" color="primary">Tipo de Apresentação</ion-label>
        <h6>{{culturalquinta.type}}</h6>
      </ion-item>


      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label position="stacked" color="danger">Local</ion-label>
        <h6>{{  culturalquinta.local  }}</h6>
      </ion-item>
    </ion-list>
    <!-- <h4 class="ion-padding-start">Resumo</h4> -->
    <p class="ion-padding-start ion-padding-end">
      {{ culturalquinta.description }}
    </p>
  </div>
</ion-content>