<!-- details da tab1 -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-header">
    <img [src]="quarta.picture" alt="">
  </div>
  <div class="about-info">
    <h4 class="ion-padding-start">{{quarta.title}}</h4>

    <ion-list lines="none">
      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label position="stacked" color="primary">Data e Hora</ion-label>
        <h6>{{quarta.date}} &mdash; {{quarta.time_start}} </h6>

      </ion-item>

      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label position="stacked" color="primary">Local</ion-label>
        <h6>{{quarta.local}}</h6>
      </ion-item>
    </ion-list>

    <p class="ion-padding-start ion-padding-end">
      {{ quarta.description }}
    </p>
  </div>
</ion-content>