<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>O que é o aplicativo?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      O aplicativo tem como objetivo divulgar os projetos já apresentados nas edições passadas da FEPEX do Campus Fraiburgo.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Participantes</ion-card-title>
    </ion-card-header>

    <ion-item 
      [color]="i % 2 == 0 ? '' : 'light'" 
      *ngFor="let integrante of lista; let i = index"
    >
      <ion-avatar slot="start">
        <img [src]="integrante.avatar">
      </ion-avatar>
      <ion-label>
        <h3>{{integrante.nome}}</h3>
        <p>{{integrante.funcao}}</p>
        <p>{{integrante.lattes}}</p>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
