<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button *ngIf="!ano"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!ano">
  <ion-card>
    <ion-card-content>
      <ion-button
        (click)="irParaTrabalhosAno(2016)"
        expand="block"
        color="primary"
        size="large"
        >FEPEX 2016</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button
        (click)="irParaTrabalhosAno(2017)"
        expand="block"
        color="secondary"
        size="large"
        >FEPEX 2017</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button
        (click)="irParaTrabalhosAno(2018)"
        expand="block"
        color="tertiary"
        size="large"
        >FEPEX 2018</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button
        (click)="irParaTrabalhosAno(2019)"
        expand="block"
        color="success"
        size="large"
        >FEPEX 2019</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="ano && !categoria">
  <ion-card>
    <ion-card-content>
      <ion-button
        (click)="irParaTrabalhosAnoCategoria('Ensino')"
        expand="block"
        color="primary"
        size="large"
        >ENSINO</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button
        (click)="irParaTrabalhosAnoCategoria('Pesquisa')"
        expand="block"
        color="secondary"
        size="large"
        >PESQUISA</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button
        (click)="irParaTrabalhosAnoCategoria('Extensão')"
        expand="block"
        color="tertiary"
        size="large"
        >EXTENSÃO</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="ano && categoria">
  <ion-card>
    <ion-card-content>
      <ion-button
        (click)="irParaTrabalhosResultado('ARTIGO')"
        expand="block"
        color="primary"
        size="large"
        >Artigos Completos</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button
        (click)="irParaTrabalhosResultado('Resumo')"
        expand="block"
        color="secondary"
        size="large"
        >Resumos</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
