<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Novas Ideias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Conte-nos sua ideia através de uma foto, um vídeo, um áudio ou uma mensagem.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label position="stacked">Novas Ideias</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-card>  
</ion-content>
