div.about-info {
    h4 {
        font-size: 14px;
        font-family: Helvetica;
    }
}

h6 {
    font-size: 14px;
    color: #282828;
}

#btn_resumo {
    cursor: pointer;
}

#download {
    text-decoration: none;
    color: inherit;
}