<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Adicionar Noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="second.picture" placeholder="Foto - Link"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="second.title" placeholder="Título"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="second.sub_title" placeholder="Subtítulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="second.description" placeholder="Descricação"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveSecond()" expand="block">
      Publicar Noticia
    </ion-button>
  </ion-toolbar>
</ion-footer>