<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>


    <ion-title>Sexta-Feira</ion-title>

  </ion-toolbar>
  <ion-toolbar color="primary">

    <ion-searchbar (ionChange)="filterTab( $event )" placeholder="Buscar" animated>

    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!sextas.length">
    <!-- Arrays de itens -->
    <ion-item *ngFor="let item of [0, 1, 2, 3, 4]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let sexta of sextas | filtro:textoBuscar">
      <!--Abrir pagina de detalhes-->
      <ion-item button [routerLink]="['/details3', sexta.id]">



        <ion-label>
          {{ sexta.title }}
          <p>{{ sexta.short_description }}</p>
          <ion-note color="danger">{{sexta.local}}</ion-note>
        </ion-label>

        <ion-note color="primary" slot="end" *ngIf="sexta.local">{{sexta.time_start}}
          <!-- &mdash; {{sexta.time_end}}-->
        </ion-note>
      </ion-item>


      <ion-content padding>

      </ion-content>