<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>FEPEX Anteriores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <ion-button expand="block" size="large">FEPEX 2016</ion-button>
  <br>
  <br>
  <ion-button expand="block" size="large">FEPEX 2017</ion-button>
  <br>
  <br>
  <ion-button expand="block" size="large">FEPEX 2018</ion-button>
  <br>
  <br>
  <ion-button expand="block" size="large">FEPEX 2019</ion-button>
</ion-content>

