<ion-header #header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Noticias do Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" appHideHeader [header]="header">
  <ion-card *ngFor="let second of seconds">
    <img [src]="second.picture" alt="">
    <ion-card-header>
      <ion-card-subtitle>{{ second.createdAt | date: 'short' }}</ion-card-subtitle>
      <ion-card-subtitle>{{ second.sub_title }}</ion-card-subtitle>
      <ion-card-title>{{ second.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ second.description }}
    </ion-card-content>

  </ion-card>





  <ion-fab vertical="bottom" routerLink="/details9" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>